body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:1000px;
    height: 600px;
    background: #ccc;
    margin:120px auto;
    display: flex;
    flex-direction: column;
}
.col{
    height: 150%;
    color: #fff;
    padding: 25px;
    flex:1;
    position:relative;
    transition: 0.7s;
}
h2{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.box{
    width:230px;
    font-size: 12px;
    margin-top:28px;
    display: none;
}
.box button{
    border:1px solid #fff;
    border-radius: 30px;
    outline: none;
    padding: 8px 18px;
    color:#fff;
    /* 배경색을 투명하게 */
    background:transparent;
    margin-top: 20px;
    cursor: pointer;
    font-size: 12px;
}
.col:nth-child(1){
    background: #283491;

}
.col:nth-child(2){
    background: #F18684;
    
}.col:nth-child(3){
    background: #6ee2f1;
    
}
.col img{
    width:200px;
    /* 자식이 부모를 벗어나지
    않게 하는 방법
    :부모태그를 기준으로
    자식이 움직이게 함. */
    position:absolute;
    right:0;
    bottom: 0;
}
.col:hover{
    flex-grow: 2.5;
}
.col:hover .box {
    /* none으로 안보이게 했던 것을
    보이게 함. */
    display: block;
}
.col:hover h2{
    text-align: left;
}