body, ul{
    margin:0;
    padding:0;
}

#mask{
    width:100%;
    height:auto;
    font-size: 12pt;
    text-align: center;
}
#srh_wrap{
    width:1200px;
    height:auto;
    margin:0 auto;
}
.start_home{
    font-size: 10pt;
    text-align: left;
}

.logo_srh{
    display: flex;
    width:1200px;
    margin-top: 30px;
}
.logo { 
    font-size: 24pt;
    width:120px;
}
.srh_location{
    display: flex;
    width:1000px;
}
#srh_word{
    width:500px;
    height:50px;
    font-size: 15pt;
}
.srh_location input[type=button]
    {
        width:80px;
        height:50px;
        font-size: 15pt;
    }
