body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.header{
    background-color: blue;
    flex-basis: 20%;
}
.center{
    background-color:violet;
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.section{
    background-color: azure;
    flex-basis: 80%;
}
.aside{
    background-color: blanchedalmond;
    flex-basis: 20%;
}
.footer{
    background-color: tomato;
    flex-basis: 10%;
}