body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table, td, th {
    border: 1px solid;
}
table{
    border-collapse: collapse;
    width: 800px;
    height: 350px;
    margin: 100px auto;
}
.title{
    text-align: right;
    height: 50px;
}
.title td{
    padding-right: 5%;
    font-size: 19px;
}
.sub-menu{
    width: 50px;
}
li{
    list-style: none;
    margin-bottom: 20px;
}
.sub-menu{
    width: 170px;
    border: 1px;
    background: rgb(0, 100, 204);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}
li:hover{
    background: rgb(178,235,244);
    color: black;
    width: 80px;
}
.nav{
    text-align: center;
    font-size:19px;
}
p{
    display: inline-block;
    margin-right: 20px;
}
p:hover{
    color: #999;
    font-weight: bold;
    cursor: pointer;
}
img{
    width: 200px;
    height: auto;
    object-fit: cover;
}
.img-box{
    width: 30%;
    height: 100px;
    padding-left: 2%;  
}

.img-box img:hover{
    cursor: pointer;
    /* 투명도 */
    opacity: 0.4;
    height: 133px;
}
.notice-box{
    height:100px;
    padding:0%;
    margin:0%;
}
.footer{
    height: 40px;
}
.inbox{
    width:100px;
    height:auto;
    
}
#side_content_box{
    display: inline;
    margin:5px;
    }
#side_content_box:hover{
border:1px solid black;
    }
