#1 th{
    border:1px solid black;
    width: 200px;
    height: 50px;
}
#2 td{
    border:1px solid black;
}
#3 td{
    border:1px solid black;
}
#4 td{
    border:1px solid black;
}
#5 td{
    border:1px solid black;
}
